secrets.json
*.sqlite*
myenviromen
media
**/*venv*
*__pycache__/
.log
search/static/imported_media
*.sock
scratch/
.DS_Store
_build/
**/*.py.swp
__MACOSX/
.python-version
pyproject.toml
.helix/
Pipfile*
