<div style="margin: 10px 0;">
  {% for tag in item.tags.all %}
    {% if not tag.more %}
      {% include "tag.html" with tag=tag %}
    {% else %}
      <button class="btn btn-default btn-xs"
              onclick="$(this).hide();$('#{{ tag.dom_id }}').show();">{{ tag.handle }}</button>
      <span id="{{ tag.dom_id }}" style="display: none;">
        {% for more in tag.more %}
          {% include "tag.html" with tag=more %}
        {% endfor %}
      </span>
    {% endif %}
  {% endfor %}
</div>
