{% extends "base.html" %}
{% load widget_tweaks %}
{% block header %}
    {{ form.media }}
{% endblock header %}
{% block content %}
    <div class="container item-container">
        <div class="center">
            <h2 class="text-center">Please log in to your account</h2>
            <p class="text-center">
                Forgot your password? <a href="{% url 'password-reset' %}">Reset Password</a>
            </p>
            <p class="text-center">
                Don't have a account? <a href="{% url 'register' %}">Join Now</a>
            </p>
        </div>
    </div>
{% endblock content %}
