{% load static %}
{% load widget_tweaks %}
<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.10.3.custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'jquery.tagit.css' %}">
<form class="form-horizontal" method="post" onsubmit="return false" id=questionform>{% csrf_token %}
	<div class="form-group">
		<h3>Ask a question</h3>
	</div>
	{{ form.media }}
	{% for field in form.visible_fields %}
	<div class="form-group">
		{{ field.errors }}
		{{ field.label_tag }}: {% autoescape off %}{{ field|add_class:"form-control" }}{% endautoescape %}
	</div>
	{% endfor %}

	{% for field in form.hidden_fields %}
	<div class="form-group" style="display: none;">
		{{ field.label_tag }}: {% autoescape off %}{{ field|add_class:"form-control" }}{% endautoescape %}
	</div>
	{% endfor %}
	<div class="form-group">
    <button class="btn btn-default" onclick="submitquestion()">Submit</button>
  </div>
  <script language ="javascript" type = "text/javascript" >
    function submitquestion() {
      var formdata = $('#questionform').serialize();
      $.post('/submitquestion',
          formdata, function(data) {
          if(data.success) { window.location = data.redirect } else { console.log(data) }; }
          );
		}
  </script>
</form>
