{% extends "base.html" %}
{% block content %}
    {% include "partials/item_header_alt.html" with item=information aliases=aliases %}
    {% include "tag_list.html" %}
    <div class="row" style="margin-top: 15px;">
        {% if information.text %}
            {% if community_links|length %}
                <div class="col-lg-9 highlight">
                {% else %}
                    <div class="col-lg-12 highlight">
                    {% endif %}
                    <h3 style="margin-top: 0px;">About</h3>
                    {% autoescape off %}
                        {{ information.text }}
                    {% endautoescape %}
                    <hr style="margin-bottom: 10px;" />
                    {% include "licence.html" %}
                </div>
            {% endif %}
            {% if community_links|length %}
                {% if information.text %}
                    <div class="col-lg-3" style="padding-right: 0px">
                    {% else %}
                        <div class="col-lg-12 highlight">
                        {% endif %}
                        <div style="background-color: rgb(20, 50, 70);
                                    padding: 20px;
                                    color: white;
                                    border-radius: 10px">
                            <h3 style="margin-top: 0px">See also</h3>
                            {% include "link_list.html" with item=information %}
                            {% if information.about %}</div>{% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 highlight"
             id="questionbox"
             style="margin-top: 15px;
                    display:none">
            <a name="question"></a>
        </div>
    </div>
{% endblock content %}
