{% load staticfiles %}


<a href="http://creativecommons.org/licenses/by-sa/3.0/">
    <img src="{% static 'images/cc-by-sa.jpg' %}" style="height: 30px"/>
</a>

<i>
    <a href="http://creativecommons.org/licenses/by-sa/3.0/">
        Creative Commons 3.0 BY SA applies to all content on Starfish.
    </a>
</i>
<br />
<small>
    Starfish-education support for the publishing on <a href="https://starfish-education.eu">Starfish-education.eu</a> does not constitute an endorsement of the
    contents, which reflect the views only of the authors and Starfish-education cannot be held responsible for any use
    which may be made of the information contained therein. Starfish-education cannot be held responsible for the
    content published by authors that is not conform with Creative Commons 3.0 BY SA.
</small>

