{% extends 'base.html' %}
{% block content %}
    <div>
    <div class="row well" style='margin-bottom: 0px;'>
        <div class="col-lg-2">
            <div class='container'>
                {% if person.photo %}
                    <img class="img-thumbnail" style="max-width: 150px;" src="/media/{{ person.photo }}"/>
                    <div style='text-align: center; width: 150px; font-style: italic;'>
                        {{ syntax.PERSON }}{{ person.handle }}</div>
                {% else %}
                    <div style='text-align: center; width: 150px; font-style: italic;
            margin-top: 50px'>{{ syntax.PERSON }}{{ person.handle }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8">
            {% if person.title %}
                <h1>{{ person.title }} {{ person.name }}</h1>
            {% else %}
                <h1>{{ person.name }}</h1>
            {% endif %}

            <p class="lead" style='text-align: justify'>
                {% autoescape off %}
                    {{ person.headline }}
                {% endautoescape %}
            </p>

        </div>
        <div class="col-lg-2" style='padding-top: 20px'>
            <p>
    <span class='btn btn-primary' style='width:100%;'
          onclick="load_questionform('{{ person.type }}', '{{ person.id }}', '#questionbox')">
				Ask a question
	  </span>
            </p>
            {% if person.email and person.public_email %}
                <p>
                    <a class='btn btn-default' style='width:100%;' href="mailto:{{ person.name }} <{{ person.email }}>">
                        Send an email
                    </a>
                </p>
            {% endif %}
            {% if person.website %}
                <p>
                    <a class='btn btn-default' style='width: 100%;' href="{{ person.website }}">
                        Visit website
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

    {% include 'tag_list.html' %}

    <div class="container">

        <div class="row" style="margin-top: 15px;">
            {% if person.about %}
                {% if community_links|length %}
                    <div class="col-lg-8" id="person-about">
                {% else %}
                    <div class="col-lg-12" id="person-about">
                {% endif %}
                    <h3 style='margin-top: 0px;'>About {{ person.name }}</h3>
                    {% autoescape off %}
                        {{ person.about }}
                    {% endautoescape %}
                    <hr style='margin-bottom: 10px;'/>
                    {% include 'licence.html' %}
                </div>
            {% endif %}

            {% if community_links|length %}
                {% if person.about %}
                    <div class="col-lg-4" style='padding-right: 0px;'>
                    <div class='highlight' style="background-color: rgb(20, 50, 70)">
                {% else %}
                    <div class="col-lg-12 highlight" style="background-color: rgb(20, 50, 70)">
                {% endif %}
                    <div style="background-color: rgb(20, 50, 70);">
                        <h3 style='margin-top: 0; color: white;'>See also</h3>
                        {% include 'link_list.html' with item=person %}
                    </div>
                {% if person.about %}
                    </div>
                {% endif %}
            </div>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 highlight" id="questionbox" style="margin-top: 15px; display:none;">
                <a name="question"></a>
            </div>
        </div>
    </div>
{% endblock %}
