{% extends 'base.html' %}

{% block content %}
    <div class="container container-item">
        <h1>Privacy Notice - Starfish</h1>

        <p>
        Starfish (<a href="https://Starfish-education.eu">https://Starfish-education.eu</a>) is a teaching innovation knowledge sharing website developed for the people who are involved with teaching and learning in principle in higher education (taken together, the “Website”). The Website is owned and operated by the Non-governmental organization (NGO) ECTN (European Chemistry Thematic Network) (the “Company”). This Privacy Notice will explain how the Website uses the personal data we collect from you when you use it. By registering (agreeing to the Terms and conditions) you acknowledge that you read this Privacy Notice and are aware of how the Company uses your personal data.
        </p>

        <h3>
        What data do we collect?
        </h3>

        <p>
        The Website collects the following data:
        </p>
        <ul>
            <li>Personal identification information: name, email address, affiliation</li>
            <li>Other personal information you can add voluntarily (e.g. your photo)</li>
            <li>Activity details (timestamp, type of activity and activity content (your posts).</li>
        </ul>

        <h3>How do we collect your data?</h3>
        <p>You directly provide the Website with most of the data we collect. We collect data and process data when you:</p>
        <ul>
            <li>Register online</li>
            <li>Create your personal profile on the Website</li>
            <li>Use or view our website via your browser's cookies</li>
            <li>Use or view our website when you are logged in with your personal account.</li>
        </ul>

        <h3>How will we use your data?</h3>
        <p>We use your personal data:</p>
        <ul>
            <li>to manage your personal account</li>
            <li>to enable website content</li>
            <li>to enhance website content and performance (analytics)</li>
            <li>for securing the network.</li>
        </ul>

        <h3>How do we store your data?</h3>
        <ul>
            <li>The Website securely stores your data at <a href="https://starfish-education.eu">https://starfish-education.eu</a> stored at CloudVPS (<a href="https://www.cloudvps.com">https://www.cloudvps.com/</a>).</li>
        </ul>

        <p>
        The Website will keep your personal data: first name, surname, e-mail address and your affiliation for as long as you wish to use the Website and as long you use it according to our Terms of use and conditions. We will delete your data on your request if you don’t want to use the Website any more. We will delete your account and your data if you do not log in to your account for more than 5 years.
        </p>

        <h3>Marketing</h3>
        <p>
        The Website is not used for marketing, does not use your data for marketing purposes and does not sell your data. The Website works on the principle of Creative Commons.
        </p>

        <h3>What are your data protection rights?</h3>

        <p>
        The Website would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:<br />
        <b>The right to access</b> - You have the right to request the Company for copies of your personal data. We may charge you a small fee for this service. <br />
        <b>The right to rectification</b> - You have the right to request that Company correct any information you believe is inaccurate. You also have the right to request the Company to complete information you believe is incomplete.<br />
        <b>The right to erasure</b> - You have the right to request that the Company erase your personal data, under certain conditions. (see more at: https://gdpr.eu/right-to-erasure-request-form/) <br />
        <b>The right to restrict processing</b> - You have the right to request that the Company restricts the processing of your personal data, under certain conditions.<br />
        <b>The right to object to processing</b> - You have the right to object to the Company processing of your personal data, under certain conditions.<br />
        <b>The right to data portability</b> - You have the right to request that the Company transfers the data that we have collected to another organization, or directly to you, under certain conditions. <br />
        <br />
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: secretariat@ectn.eu
        <br /><br />
        Or write to us: <br />
        European Chemistry Thematic Network Association (ECTN)<br />
        ECTN, c/o SEFI, Rue des Deux Eglises 39, 1000 Brussels, Belgium
        <br />
        </p>

        <h3>What are cookies?</h3>
        <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit the Website, we may collect information from you automatically through cookies or similar technology.
        For further information, visit https://en.wikipedia.org/wiki/HTTP_cookie.
        </p>

        <h3>How do we use cookies?</h3>
        The Website uses cookies in a range of ways to improve your experience on our website, including:
        <ul>
            <li>Keeping you signed in when you have a personal account</li>
            <li>Understanding how you use our website</li>
        </ul>

    	<h3>Changes to our privacy policy</h3>
    	<p>
    	The Website keeps its Privacy Policy under regular review and places any updates on this web page. This Privacy Policy was last updated on 26 September 2021.
    	</p>

    	<h3>How to contact us</h3>
    	<p>
    	If you have any questions about the our Company’s Privacy Policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
    	<br /><br />
        Email us to: secretariat@ectn.eu<br />
        Or write to us: <br />
        European Chemistry Thematic Network Association (ECTN)<br />
        ECTN, c/o SEFI, Rue des Deux Eglises 39, 1000 Brussels, Belgium<br />
        </p>
    </div>
{% endblock %}
