{% extends 'base.html' %}
{% load widget_tweaks %}

{% block header %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container container-item">
        <h1>Register account</h1>
        <span>Please enter your details below.</span>

        {% if errors|length > 0 %}
            <div class="alert alert-danger" role="alert">
                <strong>An error occurred!</strong>

                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <strong>Frist Name</strong>
                            {{ form.first_name.errors }}
                            {{ form.first_name|attr:"class:form-control" }}
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <strong>Last Name</strong>
                            {{ form.last_name.errors }}
                            {{ form.last_name|attr:"class:form-control" }}
                        </div>
                    </div>

                    <br/>

                    <strong>Username</strong>
                    {{ form.handle.errors }}
                    {{ form.handle|attr:"class:form-control" }}

                    <br/>

                    <strong>Email</strong>
                    {{ form.email.errors }}
                    {{ form.email|attr:"class:form-control" }}

                    <strong>Password</strong>
                    {{ form.password.errors }}
                    {{ form.password|attr:"class:form-control" }}

                    <strong>Confirm Password</strong>
                    <input type="password" class="form-control" id="passwordc" name="passwordc">


                    <br/>
                </div>

                <div class="col-lg-6 col-md-4 col-sm-10 col-xs-12">
                    <strong>University</strong>
                    {{ form.university.errors }}
                    {{ form.university|attr:"class:form-control" }}

                    <strong>Introduction.</strong>
                    <small>Optionally tell us why you want to join the Starfish platform in two or three sentences.</small>
                    {{ form.introduction.errors }}
                    {{ form.introduction|attr:"class:form-control" }}
                    <br />
                </div>
            </div>
            
            <input type="checkbox" required />
            <p>I agree to the <a href="https://starfish-education.eu/terms-of-use">Terms of Use</a> and <a href="https://starfish-education.eu/privacy-policy">Privacy Policy</a>.</p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
