{% extends "base.html" %}
{% block content %}
    <div class="container container-item">
        <h1>Terms of Service and Conditions</h1>
        <p>
            The following terms and conditions govern all use of the Starfish (https://starfish-education.eu) website and all content, services and products available at or through the website (taken together, the “Website”). The Website is owned and operated by ECTN (European Chemistry Thematic Network Association (ECTN), Rue des Deux Eglises 39, 1000 Brussels, Belgium) (the “Company”). The Website is offered subject to your acceptance without modification of all the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on the Website (taken together, the “Agreement”). A person who has a personal account on the Website is a “User”.  A person who has no account on the Website is a “Visitor”.
            <br />
            <br />
            Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the Website, you agree to become bound by the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, then you may not access the Website or use any services. The Website is available for sharing knowledge and experience in the field of teaching and learning and for publishing articles in the context of teaching and learning only to the Users. The Website is openly accessible for “Visitors” to read.
        </p>
        <h3>Content of the website</h3>
        <p>
            The Website and its content are mainly but not limited the articles written by the Users. All material on the Website is copyright free or in Creative Commons 3.0 BY. The Website may contain external links to other websites having different copyright. The Company does not make any warranty about the validity of the content, despite its best efforts to keep the quality of the content as high as possible.
        </p>
        <h3>Personal account</h3>
        <p>
            A User has a personal account on the Website. A personal account on the Website can only be obtained by the persons who are at least 18 years old and who are involved in (in principle higher) education in the role of lecturer, as support staff or in another role that in one way or another with the education is connected. Creating a personal account includes the following steps:
            <ul>
                <li>A new User requests a Personal account on the Website by registering.</li>
                <li>To register it is prohibited to use false name and/or false surname and/or false affiliation.</li>
                <li>
                    When a new User register on the Website to get a Personal account the new User agrees that their name and surname will be visible on the Website at their publications and that a personal profile with their name, surname and affiliation will be created.
                </li>
                <li>The User can add other information to their personal profile on the Website at any time if the User wishes.</li>
                <li>
                    The Company needs to approve every requested Personal account before it will be created to be used to login on the Website.
                </li>
                <li>
                    The Company approves personal account only to the persons who fit to the description of the User who may get the personal account on the Website.
                </li>
                <li>The Company can refuse to approve a requested personal account without explanation.</li>
            </ul>
        </p>
        <h3>Publications on website</h3>
        <p>
            Publish on the Website (i.e. different types of Articles, Ask and Answer Questions and Comments) is only possible for the Users. Publications are welcomed and encouraged on the Website, but there are some instances where Publications will be edited or deleted as follows:
            <ul>
                <li>
                    Publications deemed to be spam or solely promotional in nature will be deleted. Including a link to relevant content is permitted, but comments should be relevant to the post topic, i.e. teaching and learning.
                </li>
                <li>Publications including profanity will be deleted.</li>
                <li>
                    Publications containing language or concepts that could be deemed offensive will be deleted. This may include abusive, threatening, pornographic, offensive, misleading or libelous language.
                </li>
                <li>Publications that harass other posters will be deleted. Please be respectful toward other contributors.</li>
            </ul>
        </p>
        <h3>Service specification and intellectual property rights statement</h3>
        <p>
            You may upload, post or transmit and change content, including but not limited to text, graphics, images, sounds, links and other information on the Website through our Platform Services, provided that you assume legal responsibility for such Content.
            <br />
            You must ensure that you own the copyright or are legally authorized to use the content that you upload, post or transmit or change on our Website or that the content that you upload is copyright free or may be used under Creative Commons BY 3.0 license, provided with the appropriate reference.
            <br />
            You undertake to publish all your content on the Website in Creative Commons 3.0 BY.
        </p>
        <h3>Indemnification</h3>
        <p>
            You agree that the Company, and any parents, subsidiaries, officers, employees or third-party contractors cannot be held responsible for any third-party claim, demand or damages, including reasonable attorneys’ fees, arising out of your use of this Website or your uploading of the material that is not copyright free or not in the Creative Commons 3.0 BY.
        </p>
        <h3>Privacy</h3>
        <p>
            Our Privacy Policy explains the way we handle and protect your personal data in relation to your use and browsing of the Website. By agreeing to the present terms and conditions and to be able to use the Service, you also agree to our Privacy Policy.
        </p>
        <h3>Modification to terms of service</h3>
        <p>
            Within the limits of applicable law, the Company reserves the right to review and change this Agreement at any time. You are responsible for regularly reviewing these terms and conditions. Continued use and browsing of the Website after such changes shall constitute your consent to such changes.
        </p>
        <h3>Applicable Law</h3>
        <p>
            This Agreement shall be governed in all respects by the substantive Belgium laws. Any controversy, claim, or dispute arising out of or relating to the Agreement shall be subject to the jurisdiction of the competent Belgian courts.
        </p>
    </div>
{% endblock content %}
