{% extends "base.html" %}
{% block content %}
    <div class="container container-item">
        <h3>Validate profiles</h3>
        <div class="row row-flex">
            {% for profile in profiles %}
                <div class="col-xs-12 col-md-12 col-lg-6" style="">
                    <div class="row-content">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ profile.name }}</h5>
                                <p class="card-text">
                                    {{ profile.university }}
                                    <br />
                                    {{ profile.email }}
                                    <hr />
                                    <strong>Introduction.</strong>
                                    <br />
                                    {{ profile.introduction }}
                                </p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <strong>Can create User Cases:</strong>
                                    {{ form.usercases.errors }}
                                    {{ form.usercases }}
                                    <br />
                                    <br />
                                    <input type="hidden" name="person" value={{ profile.pk}}>
                                    <input class="btn btn-success" type="submit" value="Accept" name="accepted">
                                    <input class="btn btn-danger" type="submit" value="Reject" name="accepted">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "licence.html" %}
    </div>
{% endblock content %}
