{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
{{ form.media }}
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

{% if is_new %}
<style>
    ul.errorlist {
        display: none;
    }
</style>
{% endif %}

<style>
    .selector-chooseall {
        display: none !important;
    }
    .selector-clearall {
        display: none !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();

        alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "btn btn-primary";
        alertify.defaults.theme.cancel = "btn btn-danger";
        alertify.defaults.theme.input = "form-control";
    });
</script>

<div class="container item-container">
    <div class="row well">
        <h1>User Case</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                {% include "./partials/authors.html" with obj=obj %}

                <div class="col-sm-12 col-md-4">
                    <strong>Wallpaper</strong>
                    {% if wallpaper_url %}
                    <div
                        style="width: 100%; height: 20vmax; background: url(/media/{{ wallpaper_url }}); background-size: contain; background-repeat: no-repeat;">
                    </div>
                    {% endif %}
                    {{ form.wallpaper }}
                </div>

                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-md-10 col-xs-10">
                            <strong>Title of the User Case</strong>
                            {{ form.title.errors }}
                            {{ form.title|attr:"class:form-control" }}
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <strong>Draft</strong>
                            {{ form.draft.errors }}
                            {{ form.draft }}
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-12">
                    <strong>Challenge and topic</strong><br />
                    {{ form.text.errors }}
                    {{ form.text }}
                </div>
                <br />
                <div class="col-lg-12">
                    <strong>Context and Goals</strong><br />
                    {{ form.context_goals.errors }}
                    {{ form.context_goals }}
                </div>
                <br />
                <div class="col-lg-12">
                    <strong>CPD Activities</strong><br />
                    {{ form.cpd_activities.errors }}
                    {{ form.cpd_activities }}
                </div>
                <br />
                <div class="col-lg-12">
                    <strong>Evaluation</strong><br />
                    {{ form.evaluation.errors }}
                    {{ form.evaluation }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-3">
                    {{ form.date.label_tag }}
                    {{ form.date.errors }}
                    {{ form.date }}
                </div>

                <div class="col-sm-8 col-md-9">
                    {{ form.contact.label_tag }}
                    {{ form.contact.errors }}
                    {{ form.contact|attr:"class:form-control" }}
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    {{ form.tags.label_tag }}<br />
                    {{ form.tags.errors }}
                    {{ form.tags|safe }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    {{ form.links.label_tag }}<br />
                    {{ form.links.errors }}
                    {{ form.links|safe }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    {{ form.communities.label_tag }}<br />
                    {{ form.communities.errors }}
                    {{ form.communities|attr:"class:form-control" }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    {{ form.cpd_questions.label_tag }}<br />
                    <a href="{% static 'pdf/cpd_questions_overview.pdf' %}">
                        Overview of questions and classifications
                    </a><br />
                    {{ form.cpd_questions.errors }}
                    {{ form.cpd_questions|safe }}
                    <script type="text/javascript" src="{% url 'jsi18n' %}"></script>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    {{ form.cpd_time_to_finish.label_tag }}<br />
                    {{ form.cpd_time_to_finish.errors }}
                    {{ form.cpd_time_to_finish|safe }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    {{ form.cpd_learning_environment.label_tag }}<br />
                    {{ form.cpd_learning_environment.errors }}
                    {{ form.cpd_learning_environment|safe }}
                </div>
            </div>

            <div>
                {% include 'disclaimer.html' %}
            </div>

            <input style="margin-top: 40px;" class="btn btn-default pull-right" type="submit" value="Contribute" />
        </form>
    </div>
    {% include 'licence.html' %}
</div>
{% endblock %}