<div class="row">
    <div class="col-xs-12">
        <h1 style="margin: 0px;">{{ item.title }}</h1>
    </div>
    <div class="col-md-4 col-xs-12" style="padding-top: 10px;">
        <span class="text-muted">
            Posted by
            {% for author in authors %}
                <a href={% url "person" author.id %}>{{author.name}}{% comment %}({{ syntax.PERSON }}{{ author.handle }}){% endcomment %}</a>,
            {% endfor %}
            on {{ item.create_date }}
        </span>
        {% if item.exp_date %}<span class="text-muted pull-right">Valid until {{ item.exp_date }}</span>{% endif %}
        {% if search %}
            <p>
                <a class="btn btn-default"
                   href="/?q=%23{{ search.handle }}"
                   style="width:100%">Search</a>
            </p>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tag-slider').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                dots: true,
                autoplay: true,
                autoplaySpeed: 60000,
            });
        });
    </script>
    <style>
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }

        li a {
            background-color: rgba(20, 50, 70, 0.1) !important;
        }

        li.active a {
            color: white !important;
            background-color: rgb(20, 50, 70) !important;
        }
    </style>
    <div class="col-md-8 col-xs-12 d-flex">
        <div class="tag-slider"
             id="wikipedia"
             style="padding: 10px;
                    padding-top: 0">
            {% for summary in summaries %}
                {% include "./summary_card.html" with summary=summary %}
            {% endfor %}
        </div>
    </div>
</div>
