<div class="card expandable {% if summary.summary|length <= 200 %} expanded {% endif %}"
    style="width: 20rem; margin: 10px; border: 1px solid #EAEAEA; border-radius: 10px; padding: 10px 20px;">
    <div class="card-body" style="padding: 0px;">
        <h5 class="card-title">
            {% include 'tag.html' with tag=summary.raw_tag %}
        </h5>
        <p class="card-text" style="font-size: 80%;">
            {{ summary.summary }}
        </p>
        <a href="/?q=%23{{ summary.tag }}" class="btn btn-primary btn-sm">
            Explore
        </a>

        {% if summary.url != None or summary.summary|length > 200 %}
        <a href="#" data-wiki-href="{{ summary.url }}" class="btn btn-link btn-sm wiki-link">
            {% if summary.summary|length > 200 %}
            Read more...
            {% else %}
            Visit...
            {% endif %}
        </a>
        {% endif %}
    </div>
</div>